{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}



    <!-- Contact Info -->
    <section class="pb-110 pt-140">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Title -->
                    <div class="section-title text-center">
                        <h2>Бізбен байланыс</h2>
                    </div>
                    <!-- End Section Title -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <!-- Single Contact Info -->
                    <div class="single-contact-info">
                        <h3>Мекен жайымыз</h3>
                        <p>Нұр-Сұлтан қ., <br>Кенесары көш., 84</p>
                    </div>
                    <!-- End Single Contact Info -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <!-- Single Contact Info -->
                    <div class="single-contact-info">
                        <h3>Телефон</h3>
                        <p>
                            <a href="#">+7702 750 08 29</a>
                            <br>
                        </p>
                    </div>
                    <!-- End Single Contact Info -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <!-- Single Contact Info -->
                    <div class="single-contact-info">
                        <h3>Email</h3>
                        <p>
                            <a href="mailto:info@edu-itb.kz">info@edu-itb.kz</a>
                            <br>
                        </p>
                    </div>
                    <!-- End Single Contact Info -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <!-- Single Contact Info -->
                    <div class="single-contact-info">
                        <h3>Жұмыс уақыты</h3>
                        <p>9.00-18.00 Дб-Жм<br>
                        Сб-Жб <span>жабық</span></p>
                    </div>
                    <!-- End Single Contact Info -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Contact Info -->

{%  endblock %}